ADF/pipeline/ppl_formula1_project_data_transformation.json
{
	"name": "ppl_formula1_project_data_transformation",
	"properties": {
		"activities": [
			{
				"name": "Get Raw Folder Detail",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dataset_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Raw Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Raw Folder Detail",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Raw Folder Detail').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "1_race_results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/1.race_results",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "2_driver_standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "1_race_results",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/2.driver_standings",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "3_constructor_standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "2_driver_standings",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/3.constructor_standings",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "4_calculated_race_results",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "3_constructor_standings",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/4.calculated_race_results",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast API"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-29T06:04:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}