azure-cloud-datapipeline-EDA-project-datafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azure-cloud-datapipeline-EDA-project-datafactory"
		},
		"ls_smarsproject0datalake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_smarsproject0datalake'"
		},
		"azure_cloud_datapipeline_EDA_project_databrick_ws_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0627-235146-2o4y23y2"
		},
		"ls_smarsproject0datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://smarsproject0datalake.dfs.core.windows.net/"
		},
		"trg_formula1_data_batch_flow_properties_pipeline_parameters_p_window_end_date": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ppl_formula1_project_data_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Raw Folder Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dataset_formula1_raw",
								"type": "DatasetReference",
								"parameters": {
									"p_window_end_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Raw Folder Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Raw Folder Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Raw Folder Detail').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "1_ingest_circuit_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/1.ingest_circuits_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "2_ingest_races_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "1_ingest_circuit_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/2.ingest_races_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "3_ingest_constructors_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "2_ingest_races_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/3.ingest_constructors_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "4_ingest_drivers_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "3_ingest_constructors_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/4.ingest_drivers_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "5_ingest_results_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "4_ingest_drivers_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/5.ingest_results_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "6_ingest_pit_stops_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "5_ingest_results_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/6.ingest_pit_stops_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "7_ingest_lap_times_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "6_ingest_pit_stops_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/7.ingest_lap_times_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "8_ingest_qualifying_file_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "7_ingest_lap_times_file_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_ingestion/8.ingest_qualifying_file",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "Ergast API"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-06-29T06:04:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_formula1_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_cloud_datapipeline_EDA_project_databrick_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ppl_formula1_project_data_transformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Processed circuits Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_circuits",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Raw Folder Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Processed circuits Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed constructors Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed drivers Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed lap_times Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed pit_stops Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed qualifying Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed races Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Processed results Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\n    activity('Get Processed circuits Detail').output.exists,\n    and(\n        activity('Get Processed constructors Detail').output.exists,\n        and(\n            activity('Get Processed drivers Detail').output.exists,\n            and(\n                activity('Get Processed lap_times Detail').output.exists,\n                and(\n                    activity('Get Processed pit_stops Detail').output.exists,\n                    and(\n                        activity('Get Processed qualifying Detail').output.exists,\n                        and(\n                            activity('Get Processed races Detail').output.exists,\n                            activity('Get Processed results Detail').output.exists\n                        )\n                    )\n                )\n            )\n        )\n    )\n)\n",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "1_race_results",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/1.race_results",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "2_driver_standings",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "1_race_results",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/2.driver_standings",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "3_constructor_standings",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "1_race_results",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/3.constructor_standings",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "4_calculated_race_results",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "2_driver_standings",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "3_constructor_standings",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/hubin.smars@gmail.com/azure-cloud-datapipeline-EDA/src/data_transformation/presentation_layer/4.calculated_race_results",
										"baseParameters": {
											"p_data_source": {
												"value": "@variables('v_data_source')",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_cloud_datapipeline_EDA_project_databrick_ws",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get Processed constructors Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_constructors",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Get Processed drivers Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_drivers",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Get Processed lap_times Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_lap_times",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Get Processed pit_stops Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_pit_stops",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Get Processed qualifying Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_qualifying",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Get Processed races Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_races",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Get Processed results Detail",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_processed_layer_results",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "Ergast API"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-06-29T06:04:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_circuits')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_constructors')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_drivers')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_lap_times')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_pit_stops')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_qualifying')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_races')]",
				"[concat(variables('factoryId'), '/datasets/ds_processed_layer_results')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_cloud_datapipeline_EDA_project_databrick_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_formula1_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(dataset().p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"constructorId": {
							"type": "integer"
						},
						"constructorRef": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"nationality": {
							"type": "string"
						},
						"url": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_circuits')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "circuits",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_constructors')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "constructors",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_drivers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "drivers",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_lap_times')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "lap_times",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_pit_stops')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "pit_stops",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_qualifying')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "qualifying",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_races')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "races",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_processed_layer_results')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_smarsproject0datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "results",
						"fileSystem": "processed"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"commitInfo": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "integer"
								},
								"userId": {
									"type": "string"
								},
								"userName": {
									"type": "string"
								},
								"operation": {
									"type": "string"
								},
								"operationParameters": {
									"type": "object",
									"properties": {
										"isManaged": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"partitionBy": {
											"type": "string"
										},
										"properties": {
											"type": "string"
										}
									}
								},
								"notebook": {
									"type": "object",
									"properties": {
										"notebookId": {
											"type": "string"
										}
									}
								},
								"clusterId": {
									"type": "string"
								},
								"isolationLevel": {
									"type": "string"
								},
								"isBlindAppend": {
									"type": "boolean"
								},
								"operationMetrics": {
									"type": "object",
									"properties": {
										"numFiles": {
											"type": "string"
										},
										"numOutputRows": {
											"type": "string"
										},
										"numOutputBytes": {
											"type": "string"
										}
									}
								},
								"engineInfo": {
									"type": "string"
								},
								"txnId": {
									"type": "string"
								},
								"job": {
									"type": "object",
									"properties": {
										"jobId": {
											"type": "string"
										},
										"jobName": {
											"type": "string"
										},
										"runId": {
											"type": "string"
										},
										"jobOwnerId": {
											"type": "string"
										},
										"triggerType": {
											"type": "string"
										}
									}
								},
								"readVersion": {
									"type": "integer"
								}
							}
						},
						"protocol": {
							"type": "object",
							"properties": {
								"minReaderVersion": {
									"type": "integer"
								},
								"minWriterVersion": {
									"type": "integer"
								}
							}
						},
						"metaData": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string"
								},
								"format": {
									"type": "object",
									"properties": {
										"provider": {
											"type": "string"
										},
										"options": {
											"type": "object"
										}
									}
								},
								"schemaString": {
									"type": "string"
								},
								"partitionColumns": {
									"type": "array"
								},
								"configuration": {
									"type": "object"
								},
								"createdTime": {
									"type": "integer"
								}
							}
						},
						"add": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"modificationTime": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"stats": {
									"type": "string"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						},
						"remove": {
							"type": "object",
							"properties": {
								"path": {
									"type": "string"
								},
								"deletionTimestamp": {
									"type": "integer"
								},
								"dataChange": {
									"type": "boolean"
								},
								"extendedFileMetadata": {
									"type": "boolean"
								},
								"partitionValues": {
									"type": "object"
								},
								"size": {
									"type": "integer"
								},
								"tags": {
									"type": "object",
									"properties": {
										"INSERTION_TIME": {
											"type": "string"
										},
										"MIN_INSERTION_TIME": {
											"type": "string"
										},
										"MAX_INSERTION_TIME": {
											"type": "string"
										},
										"OPTIMIZE_TARGET_SIZE": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_smarsproject0datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_cloud_datapipeline_EDA_project_databrick_ws')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-784649387661243.3.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/2e957040-0be2-41fc-b5bc-88d70ec4398f/resourceGroups/azure-cloud-datapipeline-EDA-project/providers/Microsoft.Databricks/workspaces/azure-cloud-datapipeline-EDA-project-ws",
					"existingClusterId": "[parameters('azure_cloud_datapipeline_EDA_project_databrick_ws_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_smarsproject0datalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_smarsproject0datalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_smarsproject0datalake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/batch_workflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute data ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ppl_formula1_project_data_ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_window_end_date": {
									"value": "@pipeline().parameters.p_window_end_date",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute data transformation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute data ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ppl_formula1_project_data_transformation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_window_end_date": {
									"value": "@pipeline().parameters.p_window_end_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ppl_formula1_project_data_ingestion')]",
				"[concat(variables('factoryId'), '/pipelines/ppl_formula1_project_data_transformation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_formula1_data_batch_flow')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "batch_workflow",
						"type": "PipelineReference"
					},
					"parameters": {
						"p_window_end_date": "[parameters('trg_formula1_data_batch_flow_properties_pipeline_parameters_p_window_end_date')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 168,
					"startTime": "2021-03-14T22:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/batch_workflow')]"
			]
		}
	]
}